{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponge.lk - one stop shop for all your sweet cravings!</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'main_style.css'%}">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   </head>
<body>

       <header>
    <img src="https://www.sponge.lk/Images/SpongeLogo.png" alt="Sponge Logo" width="150px" height="100px">
    <h1></h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li><a href="{% url 'home' %}"><div class="icon home-icon">Home</div></a></li>
            <li><a href="{% url 'order' %}"><div class="icon items-icon">Items</div></a></li>
            <li><a href="{% url 'contact' %}"><div class="icon contact-icon"> Contact   Us</div></a></li>
            <li><a href="{% url 'about' %}"><div class="icon contact-icon"> About</div></a></li>
        </ul>
            </div>
        </div>
    </nav>
   <div id="cart-icon">
            <a href="{% url 'dashboard' %}">
                <img src="{% static 'user_icon.png' %}" width="60px" height="60px">
                </a>
        </div>
</header>

    <div class="page-name">

        <h1 class="highlighted-header">About Us</h1>
        <br>
     <div class="text" ><p>Sponge Pastry Shop is the brainchild of Chef Akantha, a seasoned pastry chef who, after years of crafting exquisite desserts in the hospitality industry, felt an irresistible urge to share his delectable creations with the world. What began as a humble eatery in 1985, "Sponge," has since evolved into a renowned and beloved establishment.</p><br>

<p>Bolstered by a dedicated and amiable team of more than 80 individuals, our unwavering commitment is to consistently deliver the highest quality in both culinary delights and customer service. We are not only passionate about flavor but also committed to staying on the cutting edge of technology and customer preferences. Thus, we have seamlessly integrated modernized processes, offering computer-based systems and online services to cater to your convenience.</p><br>

<p>Our exceptionally talented and artistic team stands ready to fulfill your every confectionery desire, from crafting awe-inspiring wedding structures to designing bespoke cakes and sculpting unique and personalized sponge creations. </p></div>
<div class="images">
            <img src="https://www.sponge.lk/images/landing/about/aboutus_grouppic.jpg" alt="Group Picture" width="400px" class="center">
        </div>
    </div>



<br><br>
<footer class="custom-footer text-center">
        <div class="container">
            <p>&copy; 2023 Sponge.lk. All Rights Reserved.</p>
            <p><a href="{% url 'home' %}">Home</a> | <a href="{% url 'contact' %}">Contact Us</a></p>
        </div>
    </footer>

</body>
</html>