body {
    margin: 0;
    padding: 0;
}

@keyframes headerBackgroundAnimation {
  0% {
    opacity: 0.2; /* Initial opacity for the photo */
  }
  50% {
    opacity: 0.5; /* Midpoint opacity for the photo */
  }
  100% {
    opacity: 0.2; /* Return to the initial opacity for the photo */
  }
}

header {
    background: white;
    border-bottom: 2px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    overflow: hidden; /* Hide the overflowing pseudo-element */
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://tse3.mm.bing.net/th?id=OIP.Zr5hw6AzKpXHjzNLDR2zVQHaE7&pid=Api&P=0&h=220');
    opacity: 0.1; /* Initial opacity for the photo */
    animation: headerBackgroundAnimation 5s infinite alternate;
    z-index: -1; /* Place it behind the header */
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 15px;
    color : black ;
}

.icon {
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size:18px;
    font-weight: bold;
}

.cart-icon {
    color : red;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

section {
    margin-top: 100px; /* Adjust this value to leave space for the fixed header */
    padding: 20px;
    text-align: center;
}


body {

    margin: 0;
    padding: 0;
}

.text {
    padding: 20px;
    text-align:left;

}

.page-name {
margin: 0 auto;

max-width: 900px;
margin-top: 3cm;
padding: 20px;
border: 2px solid #ccc;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.highlighted-header {
color: red; /* Highlight the header text in red */
text-align: left;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.custom-footer {
    background-color: red;
    color: white;
    padding: 10px 0;
}

.custom-footer a {
    color: white;
    text-decoration: none;
}

.custom-footer a:hover {
    text-decoration: underline;
}


